<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
        <title>Chat</title>
    </head>
    <body>
        <h1 id='header'>Welcome</h1>
        <h3 id='main'>Maintenance Mode: </h1>
        <form action="" onsubmit="sendMessage(event)">
            <input type="text" id="messageText" autocomplete="off"/>
            <button>Send</button>
        </form>
        <input type="submit" value="submit" onclick="return foo();" />
        <ul id='messages'>

<div class="line-chart">
  <div class="aspect-ratio">
    <canvas id="chart"></canvas>
  </div>
</div>

        </ul>
        <script>
            var ws_connection = new WebSocket("ws://localhost:8000/ws");
            ws_connection.onmessage = function(event) {
                var header = document.getElementById('header')
                header.innerText = event.data;
            };
            // ws_connection.onopen = function(event) {
            //     let header = document.getElementById('main')
            //     var data1;
            //     fetch("http://localhost:8000/system/get_maintenance_mode")
            //         .then(res => res.json())
            //         .then(data => data1 = data["maintenance_mode"] )
            //         .then(() => header.innerText = "Maintenance Mode: " + data1)
            // };
            // function sendMessage(event) {
            //     var input = document.getElementById("messageText")
            //     ws_connection.send(input.value);
            //     input.value = ''
            //     event.preventDefault()
            // }
            // function setMaintenanceMode(data) {
                
            // }
        var chart    = document.getElementById('chart').getContext('2d'),
    gradient = chart.createLinearGradient(0, 0, 0, 450);

gradient.addColorStop(0, 'rgba(255, 0,0, 0.5)');
gradient.addColorStop(0.5, 'rgba(255, 0, 0, 0.25)');
gradient.addColorStop(1, 'rgba(255, 0, 0, 0)');


var data  = {
    labels: [ 'January', 'February', 'March', 'April', 'May', 'June' ],
    datasets: [{
      label: 'Custom Label Name',
      backgroundColor: gradient,
      pointBackgroundColor: 'white',
      borderWidth: 1,
      borderColor: '#911215',
      data: [50, 55, 80, 81, 54, 50]
    }]
};


var options = {
  responsive: true,
  maintainAspectRatio: true,
  animation: {
    easing: 'easeInOutQuad',
    duration: 520
  },
  scales: {
    xAxes: [{
      gridLines: {
        color: 'rgba(200, 200, 200, 0.05)',
        lineWidth: 1
      }
    }],
    yAxes: [{
      gridLines: {
        color: 'rgba(200, 200, 200, 0.08)',
        lineWidth: 1
      }
    }]
  },
  elements: {
    line: {
      tension: 0.4
    }
  },
  legend: {
    display: false
  },
  point: {
    backgroundColor: 'white'
  },
  tooltips: {
    titleFontFamily: 'Open Sans',
    backgroundColor: 'rgba(0,0,0,0.3)',
    titleFontColor: 'red',
    caretSize: 5,
    cornerRadius: 2,
    xPadding: 10,
    yPadding: 10
  }
};


var chartInstance = new Chart(chart, {
    type: 'line',
    data: data,
    options: options
});




        </script>
    </body>
</html>
