<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
        <title>Chat</title>
    </head>
    <body>
        <h1 id='header'>Welcome</h1>
        <h3 id='main'>Maintenance Mode: </h1>
        <form action="" onsubmit="sendMessage(event)">
            <input type="text" id="messageText" autocomplete="off"/>
            <button>Send</button>
        </form>
        <input type="submit" value="submit" onclick="return foo();" />
        <ul id='messages'>
        </ul>
        <script>
            const socket = io("http://127.0.0.1:8000", { 
                path: "/ws",
                reconnectionAttempts: 5,
                timeout: 50000000


            });
            socket.on("connect", () => {
                socket.emit("test", "sdssdsdd", (result) => {
                    console.log(result);
                });
            });
            socket.on("details", (args) => {
                //console.log("sds");

            });
            function downloadBlob(blob, name = 'file.txt') {
                // Convert your blob into a Blob URL (a special url that points to an object in the browser's memory)
                const blobUrl = URL.createObjectURL(blob);

                // Create a link element
                const link = document.createElement("a");

                // Set link's href to point to the Blob URL
                link.href = blobUrl;
                link.download = name;

                // Append link to the body
                document.body.appendChild(link);

                // Dispatch click event on the link
                // This is necessary as link.click() does not work on the latest firefox
                link.dispatchEvent(
                    new MouseEvent('click', { 
                    bubbles: true, 
                    cancelable: true, 
                    view: window 
                    })
                );

                // Remove link from body
                document.body.removeChild(link);
            }
            function foo() {
                fetch(
                        'http://127.0.0.1:8000/test?q=no',
                        {
                            method: 'POST'
                        })
                .then(response => { 
                    if (!response.ok) { throw new Error('Network response was not ok');}
                    return response.blob() 
                })
                .then(blob => {
                    downloadBlob(blob, "test.txt")
                })
                .catch(err => { 
                    console.log('There has been a problem with your fetch operation:', err);
                });
            }

            var ws_connection = new WebSocket("ws://localhost:8000/ws");
            ws_connection.onmessage = function(event) {
                var header = document.getElementById('header')
                header.innerText = event.data;
            };
            // ws_connection.onopen = function(event) {
            //     let header = document.getElementById('main')
            //     var data1;
            //     fetch("http://localhost:8000/system/get_maintenance_mode")
            //         .then(res => res.json())
            //         .then(data => data1 = data["maintenance_mode"] )
            //         .then(() => header.innerText = "Maintenance Mode: " + data1)
            // };
            // function sendMessage(event) {
            //     var input = document.getElementById("messageText")
            //     ws_connection.send(input.value);
            //     input.value = ''
            //     event.preventDefault()
            // }
            // function setMaintenanceMode(data) {
                
            // }
        var chart    = document.getElementById('chart').getContext('2d'),
    gradient = chart.createLinearGradient(0, 0, 0, 450);

gradient.addColorStop(0, 'rgba(255, 0,0, 0.5)');
gradient.addColorStop(0.5, 'rgba(255, 0, 0, 0.25)');
gradient.addColorStop(1, 'rgba(255, 0, 0, 0)');


var data  = {
    labels: [ 'January', 'February', 'March', 'April', 'May', 'June' ],
    datasets: [{
      label: 'Custom Label Name',
      backgroundColor: gradient,
      pointBackgroundColor: 'white',
      borderWidth: 1,
      borderColor: '#911215',
      data: [50, 55, 80, 81, 54, 50]
    }]
};


var options = {
  responsive: true,
  maintainAspectRatio: true,
  animation: {
    easing: 'easeInOutQuad',
    duration: 520
  },
  scales: {
    xAxes: [{
      gridLines: {
        color: 'rgba(200, 200, 200, 0.05)',
        lineWidth: 1
      }
    }],
    yAxes: [{
      gridLines: {
        color: 'rgba(200, 200, 200, 0.08)',
        lineWidth: 1
      }
    }]
  },
  elements: {
    line: {
      tension: 0.4
    }
  },
  legend: {
    display: false
  },
  point: {
    backgroundColor: 'white'
  },
  tooltips: {
    titleFontFamily: 'Open Sans',
    backgroundColor: 'rgba(0,0,0,0.3)',
    titleFontColor: 'red',
    caretSize: 5,
    cornerRadius: 2,
    xPadding: 10,
    yPadding: 10
  }
};


var chartInstance = new Chart(chart, {
    type: 'line',
    data: data,
    options: options
});




        </script>
    </body>
</html>
