<table class="table table-bordered">
    <thead>
        <tr> 
            <th>time</th>
            <th>symbol</th>
            <th>longShortRatio</th>
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>

            <td>{{ item.timestamp.strftime("%H:%M") }}</td>
            <td>{{ item.symbol }}</td>
            <td> <div class="progress">
  <div class={{ 'bar bar-' + item.status() }} style={{ "width:" + item.ratio() + "%;" }}>{{ item.ratio() }}</div>
</div>

        <tr>
     {% endfor %}
    </tbody>
</table>
