<table class="table table-bordered">
    <thead>
        <tr> 
            <th>time</th>
            <th>symbol</th>
            <th>longShortRatio</th>
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td>{{ item.timestamp.strftime("%H:%M") }}</td>
            <td>{{ item.symbol }}</td>
            <td> 
<div class="progress {{ "progress-" + item.status() }}">
  <div class="bar" style="width: {{ item.ratio() }}%"></div>
</div>
            </td>

        <tr>
     {% endfor %}
    </tbody>
</table>
