<table class="table table-bordered">
    <thead>
        <tr> 
            <th>time</th>
            <th>symbol</th>
            <th>longShortRatio</th>
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>

            <td>{{ item.timestamp.strftime("%H:%M") }}</td>
            <td>{{ item.symbol }}</td>
            <td> <div class="progress">
  <div class={{"bar bar-" + item.status() }} style={{ "width:" + item.ratio() + "%" }}> {{"bar bar-" + item.status() }} </div>
</div>
   

<div class="progress progress-success">
  <div class="bar" style="width: 40%"></div>
</div>


        <tr>
     {% endfor %}
    </tbody>
</table>
